.phone_block {
  display: flex;
  justify-content: center;
}
.phone_block_inner {
  width: 70%;
  margin: 20px;
}
.input_btn button {
  margin: 0 10px;
  border: none;
  background: green;
  color: white;
  padding: 8px 12px;
  border-radius: 3px;
}